/* src/components/Projects.css */

.Projects {
  text-align: center;
  margin: 20px;
}

.project-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  width: 30%;
  margin: 10px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project img {
  width: 100%;
  max-height: 300px; 
  object-fit: cover; 
  border-radius: 8px;
}

.project h3 {
  font-size: 1.5em; 
  margin: 10px 0;
  color: #0073e6;
}

.project p {
  font-size: 0.9em; 
  line-height: 1.6;
  color: #555;
}
