/* src/App.css */
.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  .App-header h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  .App-header h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
  }
  
  .AboutMe {
    text-align: center;
    margin: 20px;
  }
  
  .AboutMe img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .AboutMe p {
    font-size: 16px;
    color: #333;
  }
  
  .App-footer {
    background-color: #282c34;
    padding: 10px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  